---
import Layout from "../components/layout.astro";
---

<Layout title="Hi! I am Ujjwal">
  <div slot="heading">Projectos!</div>
  <div slot="content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores error nisi
    distinctio soluta quas laborum officia, cumque libero, autem enim harum
    repellendus ratione aperiam ipsam sunt tenetur dolorum, nesciunt molestias.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam iste eos
    facilis illo nulla. Nemo dolorem id modi eius suscipit debitis ullam fugiat
    sunt consequatur magni, assumenda maiores dolore esse. Lorem, ipsum dolor
    sit amet consectetur adipisicing elit. Hic est culpa dolorem, porro quisquam
    repellendus possimus non, fugit voluptas repudiandae ipsa nam molestias
    commodi laudantium, explicabo delectus iusto tempora omnis? Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Ipsum molestias nam
    exercitationem impedit assumenda ipsam corrupti ipsa, eveniet modi explicabo
    tenetur, corporis, itaque expedita facere quis labore amet debitis alias?
  </div>
</Layout>
